* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron';
}

/* ================================ */
/*             BODY                 */
/* ================================ */

body {
    background-color: #242424;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* =========== Header =========== */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 20px 0px;
    font-weight: 500;

    background-color: rgb(0, 155, 103);
}

